<!DOCTYPE html>
<html>
<head>
    <title>Inventory</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Current Inventory</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Item ID</th>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                </tr>
            </thead>
            <tbody>
                {% for item in inventory %}
                <tr>
                    <td>{{ item['item_id'][:8] }}</td>
                    <td>{{ item['item_name'] }}</td>
                    <td>{{ item['quantity'] }}</td>
                    <td>{{ item['unit'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <a href="{{ url_for('add_inventory_item') }}" class="btn btn-primary">Add New Item</a>
        <br>
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Back to Main</a>
    </div>
</body>
</html>